.selectorContainer {
  box-sizing: border-box;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  display: flex;
  background-color: #14151a;
  border-radius: 4px;
  /* width: 40%; */
}

.selectorTime {
  box-sizing: border-box;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* color: #f0b90b; */
}

.dropdown {
  padding: 10px;
  background-color: #14151a;
}

.modalContainer {
  pointer-events: auto;
  box-sizing: border-box;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  border-radius: 1rem;
  background-color: #23282d;
  box-shadow: #14151a1a 0 0 1px, #474d5714 0 7px 14px, #14151a14 0 3px 6px;
  color: #fff;
  width: 350px;
}

.modalHeader {
  pointer-events: auto;
  color: #fff;
  box-sizing: border-box;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalHeaderText {
  pointer-events: auto;
  box-sizing: border-box;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #848e9c;
}

.button {
  border: none;
  color: #f0b90b;
  background-color: transparent;
  cursor: pointer;
}

.itemModal {
  pointer-events: auto;
  color: #fff;
  box-sizing: border-box;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding: 5px;
  flex-basis: 25%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menuOptionContainer {
  pointer-events: auto;
  color: #fff;
  box-sizing: border-box;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.itemContainer {
  pointer-events: auto;
  color: #fff;
  box-sizing: border-box;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding: 5px;
  flex-basis: 25%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.itemOption {
  pointer-events: auto;
  cursor: pointer;
  box-sizing: border-box;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  width: 80%;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  color: #f0b90b;
  /* background-color: #f0b90b4d; */
}

.itemIcon {
  pointer-events: auto;
  cursor: pointer;
  box-sizing: border-box;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  border-radius: 100%;
  margin: 0;
  min-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5E6673FF;
  width: 16px;
  height: 16px;
  right: 5px;
  top: -1px;
  position: absolute;
  /* color: #f0b90b; */
}

.modalOverLayer {
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100000;
}

.modalSticky {
  pointer-events: none;
  direction: ltr;
  unicode-bidi: isolate;
  box-sizing: border-box;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px;
  top: 72px;
  left: 0px;
  height: 793px;
  width: 1328.94px;
  align-items: center;
  justify-content: flex-start;
}